@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.footer {
    position: absolute;
    width: 1440px;
    height: 100px;
    left: 0px;
    top: 924px;
}
.div{
    position: absolute;
    width: 247px;
    height: 78px;
    left: 0px;
    top: 937px;
    color: #000000;
}
.header{
    text-align: center;
    flex-direction: column

}
.a{
    position: absolute;
    width: 706px;
    height: 586px;
    left: 21px;
    top: 182px;
    flex-direction: column;
}
.naf{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    flex-direction: row-reverse;

}
.b{
    font: size 40px;
}
@media(max-width: 1242px){
    .html{
        font-size: 30px;
    }
}

@media(max-width:  2048px){
    .html{
        font-size: 60px;
    }
}

@media(max-width: 5000px){
    .html{
        font-size: 80px;
    }
}

